*{
    margin: 0;
    padding: 0;
    font-family:  "Poppins", sans-serif;
    font-weight: 300;
    box-sizing: border-box;
    color: aliceblue;
    
}
body{
  background-color: black;
}

.header{
    width: 100%;
    height: 100vh;
    z-index: -1;
    box-sizing: border-box;
    position: fixed;
    top: 0;

    

}

.container-1{ 
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: aliceblue;
  
}
   
a{  padding: 10px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    line-height: 5px;
}

a:hover{
   
  
    color: rgb(255, 0, 0);
  

    
}

.navbar{
  align-items: center;
  margin-top: 35px;
  border-radius: 15px;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  color: aliceblue;
  background-color: rgba(0, 0, 0, 0.719);
  border: 1px solid rgb(255, 255, 255, 0.196);
  backdrop-filter: blur(5px);
  padding: 2px;
  overflow: hidden; 
}
.navbar-pot{
  display: none;
  }
.active{
    color: rgb(255, 0, 0);
}

.container-11{
 width: 100%;
 height: 495px;
 display: flex;
 justify-content: space-evenly;
 align-items: center;
 background-color: rgba(0, 0, 0, 0.767);
 border: 1px solid rgb(255, 255, 255, 0.196);
 backdrop-filter: blur(5px);
 padding: 2px;
 overflow: hidden; 
}

.tag-11{
  
   text-align: center;
   align-items: center;
   
    
}
.faster{
    margin-top: 5px;
    padding-left: 25px;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 70px;
    color: rgb(255, 0, 0)
}
.secure{
    margin-top: 15px;
    padding-left: 20px;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 70px;
    color: rgb(255, 255, 255);
}

.trusted{
    margin-top: 15px;
    
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 70px;
    color: rgb(255, 0, 0)
}
.anime-1{
    
    width: 500px;
    box-shadow: 5px 5px 5px rgb(240, 248, 255 0.171);
    border: 2px solid black;
    border-radius: 15px;
    margin: 15px;

}

.container-2{
    display: inline-flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.767);
    padding: 50px;
    background-size: 100%;
    backdrop-filter: blur(10px);
  

}
.about-us{
    padding: 5px;
    font-weight: 500;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgba(131, 131, 131, 0.582);
    background-size: 100%;
    backdrop-filter: blur(10px);
    color: rgb(255, 0, 0);
    text-decoration:underline ;
}
.services{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.767);
    backdrop-filter: blur(10px);
   padding: 10px;
  
}
.service-12{
    display: flex;
    justify-content: space-between;
}
.service-13{
    display: flex;
    justify-content: space-between;
}
.service-1{
    width: 100%;
    text-align: center;
    box-shadow: 5px 5px 5px  rgb(0, 0, 0);
  
    border: 2px solid rgb(255, 0, 0);
    border-radius: 15px;
    padding: 20px;
    margin: 10px;
}
.service-2{
    width: 100%;
    text-align: center;
    box-shadow: 5px 5px 5px rgb(0, 0, 0);
    border: 2px solid rgb(255, 0, 0);
    border-radius: 15px;
    padding: 20px;
    margin: 10px;
}
.s-p-head{
    color: red;
}
.about-vid{
    width: 100%;
    
    border-radius: 10px;
   
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(0, 0, 0);

}
.about-gif{
    display: flex;
    justify-content: center;
    align-items: center;
   width: 50%;
 
  border-radius: 10px;
   
    margin-right: 30px;
  
   
    border: 1px solid rgb(0, 0, 0);

}



.about-head{
   color: red;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    
    text-align: center;
    font-size: 47px;
    font-weight: 600;
}
.p-1{
  
    padding: 10px;
    border-radius: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-weight: 100;
    
}

.container-3{
    
        width: 100%;
        
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.767);
        border: 1px solid rgb(255, 255, 255, 0.196);
        backdrop-filter: blur(5px);
        padding: 1%;
        overflow: hidden; 
       }
     
.why-img{
    width: 45%;
    border-radius: 10px;
    box-shadow: 5px 5px 5px  rgb(0, 0, 0);
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(255, 255, 255);
    margin: 15px;
    background-color: rgba(255, 255, 255, 0.589);
}


.why-head{
  
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    color: red;
    text-align: left;
    font-size: 28px;
    font-weight: 600;
}
.p-2{
   
    padding: 10px;
    border-radius: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 
    font-size: 22px;
    font-weight: 100;
    color: rgb(255, 255, 255);
    
}
.container-4{
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.767);
    padding: 30px;
    background-size: 100%;
    backdrop-filter: blur(10px);
  

}
.network{
    background-color: rgba(0, 0, 0, 0.767);
    padding: 50px;
  
    backdrop-filter: blur(10px); 
}
#fstate,
#fbranch{
    padding: 10px;
    width: 50%;
    background-color: transparent;
    border-color: rgb(255, 255, 255);
    border-radius: 50px;
    margin-bottom: 15px;

}
label{
    color: red;

}
.search{
    width: 50%;
    background-color: transparent;
    border: 1px solid rgb(255, 255, 255);
    padding: 5px;
    border-radius: 50px;

   }
   .search:hover{
   
    color: rgb(255, 0, 0);
    border:1px solid rgb(255, 0, 0);
   }
   .foption{
    color: rgb(0, 0, 0);
    padding: 3px;
    font-size: 15px;
   }
   .fselected{
    color: red;
    padding: 3px;
    font-size: 15px;
    
    }
   .request-form{
    padding: 80px;
    background-color: rgba(0, 0, 0, 0.767);
    backdrop-filter: blur(10px);

   }
   .finput{
    width: 100%;
    background-color: rgba(240, 248, 255, 0.459);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    padding: 5px;
   margin-bottom: 10px;
} 
   .frequest {
    font-size: 20px;
    width: 100%;
    background-color: transparent;
    border: 1px solid rgb(255, 255, 255);
    padding: 5px;
    border-radius: 50px;
   

   }
   .frequest:hover{
    background-color: red;
    border:1px solid rgb(0, 0, 0);
   }
   .f-head-1{
    color: red;
   }
  
   ::placeholder {
    color: rgb(255, 255, 255);
    text-align: center;
   }
   
.client-name{
    color: red;
    text-align: center;
}
.client-post{
    text-align: center;
   color: aliceblue;
}
.client-test{
 min-height: 484px;
 margin: 10px;
 border: 2px solid red;
 padding: 10px;
}
.container-5{
    display: flex;
    justify-content: space-between;
    background-color: rgba(43, 43, 43, 0.767);
    padding: 15px;
}
.footer-head{
    
    color: red;

}
.container-51{
    display: flex;
    justify-content: space-between;
    padding: 15px;
}
.links{
    margin-right: 300px;
    display: flex;
    flex-direction: column;
}
.urls-2{
    padding-top: 10px;
    
}
.contact-head{
    background-color: red;
    width: 100%;
    padding: 10px;
    text-align: center;
    height: fit-content;
    font-family: system-ui, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.contact-form{
    background-color: rgba(0, 0, 0, 0.767);
    backdrop-filter: blur(10px);
    padding: 50px;
}
.map-head{
    background-color: rgba(0, 0, 0, 0.767);
    backdrop-filter: blur(10px);
    padding: 50px;
}
.login{
    background-color: rgba(0, 0, 0, 0.767);
    backdrop-filter: blur(10px);
    padding: 25%; 
    padding-top: 50px;
    padding-bottom: 50px;
}
.dropdown{
    display: none;
}
.caution{
    color: red;
    background: none;

}
@media (max-width:785px)  {
   .header{
        width: 100%;
   }

 
   .container-1{
    flex-direction: column;
    display: none;
     
   }
  /* Navbar container */
.navbar {
    overflow: hidden;
    background-color: #fffefe91;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 50%;
    height: 100vh;
  }
  
  
  /* Links inside the navbar */
  .navbar a {
    float: right;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* The dropdown container */
  .navbar-pot {
    float: right;
    overflow: hidden;
  }
  .dropdown{
    display: block;
  }
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
    width: 100%;
    background-color: rgba(0, 0, 0, 0.767);
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(0, 0, 0);
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    
    background-color: #f9f9f9;
    min-width: 50%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
   .navbar{
    display: none;
   
   
   }
   
   .container-11{
    flex-direction: column;
    height: auto;
   }
   .anime-1{
    width: 100%;
   padding: 10px;
   border-radius: 10px;
   }
   .container-2{
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 5px;
   }
   .service{
    padding: 0;
    justify-content: center;
   }
   .service-12{
    flex-direction: column;
    
   margin: 0;

   }
  
  
   
   .service-13{
    flex-direction: column;
    margin: 0;
   }
   .service-1{
    width: 100%;
    margin-right: 0;
    margin-left: 0;
   }
   .service-2{
    width: 100%;
    margin-right: 0;
    margin-left: 0;
   }
   .about-vid{
    width: 100%;
    margin-right: 0;
   }
   .about-gif{
    
    margin-right: 0;
   }
   .request-form{
    padding: 30px;
   }
   .about-head{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.452);
    padding: 5px;
    border-radius: 10px;
    font-size: 35px;
   }
   .container-3{
    flex-direction:column;
   }
   .why-img{
    width: 100%;
   }
   .why-head{
    text-align: center;
    text-decoration: underline;
   }
   .container-4{
    flex-direction: column;
    padding: 5px;
   }
   .container-5{
    flex-direction: column;
   }
   .footer-head{
    display: flex;
    
   }
  
   .links{
    margin-right: 0;
     display: flex;
     flex-direction: column;

     
   }
   .link-1{
    text-align: left;
    padding: 7px;
   }
   #fstate,
   #fbranch {
    width: 100%;
   }
   label{
    font-size: 25px;
    display: flex;
    text-align: center;
   }
   
}
@media (max-width:440px) {
    .footer-head{
        font-size: 25px;
        text-align: center;
    }
    .why-head{
        text-align: center;
    }
    a{
        text-align: center;
    }
   
    
}
@media (max-width:1285px) {
    .container-2{
        display: flex;
        flex-direction: column;
    }
    .about-gif{
        width: 100%;
        margin-right: 0;
      
    }
}

 

@media (max-width:1130px) {
    .client-test{
       min-height: auto;
        
       }
    .container-4{
        flex-direction: column;
    }
}
@media (min-width: 1310px) {
    

.about-vid{
    width: 45%;
}
}
